* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 60px;
}

.products {
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: center;
}

.products .item{
  border: 2px solid black;
  border-radius: 10px;
  width: 100px;
  height: auto;
  padding: 5px;
}

.item h3 {
  text-align: center;
  margin-bottom: 5px;
  margin-top: 5px;
}

.item p {
  color: green;
  text-align: center;
  font-weight: 800;
  margin-bottom: 10px;
}

.item button {
  width: 100%;
  padding: 5px;
  border-radius: 10px;
  background-color: black;
  color: white;
}

.item button:hover {
  cursor: pointer;
  background-color: white;
  color: black;
}